<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
        <nav>
            <ul class="main-nav">
                {% if user.is_authenticated %}
                <li><a href= {% url "show_my_tasks" %}>My tasks</a></li>
                <li><a href= {% url "list_projects" %}>My projects</a></li>
                <li><a href= {% url "logout" %}>logout</a></li>
                {% else %}
                <li><a href= {% url "signup" %}>Signup</a></li>
                <li><a href= {% url "login" %}>Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ tasks_list.name }}</h1>
            <p>{{ tasks_list.description }}</p>
            <h2>Tasks</h2>
            <a href= {% url "create_task" %}>Create a new task</a>
            {% if tasks_list.tasks.all %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            {% for item in tasks_list.tasks.all %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.assignee }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_completed|yesno:"Yes, No" }}</td>
                </tr>
            {% endfor %}
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
            </table>
        </div>
    </main>

</body>
</html>
