<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
</head>
<body>
    <header>
        <nav>
            <ul class="main-nav">
                {% if user.is_authenticated %}
                <li><a href= {% url "show_my_tasks" %}>My tasks</a></li>
                <li><a href= {% url "list_projects" %}>My projects</a></li>
                <li><a href= {% url "logout" %}>logout</a></li>
                {% else %}
                <li><a href= {% url "signup" %}>Signup</a></li>
                <li><a href= {% url "login" %}>Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            <a href={% url "create_project" %}>Create a new project</a>
                {% if projects_list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                {% for item in projects_list %}
                    <tr>
                        <td><a href={% url "show_project" item.id %}>{{ item.name }}</a></td>
                        <td>{{ item.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
                {% else %}
                <p>You are not assigned to any projects</p>
                {% endif %}
                </table>
        </div>
    </main>

</body>
</html>
